@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #fff;
	color: #8a8c7e;
	font-size: 100%;
	line-height: 1.25;
	font-family: 'Lato', 'Avenir Next', Arial, sans-serif;
}

button {
	border: none;
	background-color: none;
	color: none;
}

#trigger-overlay {
	border: none;
	background-color: white;
	color: none;
}

.overlay-close {
	background-color: black;
}