@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat',sans-serif;
}

p {
    padding-top: 30px;
}

ul li{
    list-style: none;
    display: inline;
    padding-left: 10px;
}

header {
    height: 150px;
}

.column{
    height: 150px;
    float: left;
    width: 25%;
}

.main{
    height: 150px;
    float: left;
    width: 50%;
}

.container{
    height: 150px;
    width: 100%;
    float: left;
    display: inline;

}

footer{
    height: 25%;
}